html{
	overflow: hidden;
}
body{
	height: 100vh;
	width: 100vh;
}
body:after{
	content: "";
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	background-image: url('../assets/angular.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% 100%;
	z-index: -1;
	opacity: 0.5;
}
.navbar{
	background-color: #352A1E;
	height: 70px;
}
.navbar-border{
	border-bottom: 3px solid #F0DB4F;
}
.navbar-header img{
	transition: 0.4s;
}
.navbar-header img:hover{
	transform: rotate(360deg);
} 
label{
	width: 100%;
	font-size: 200%
} 
.picture{
	position: absolute;
	right: 0;
	top: 20%;
	width: 65%;
}
.picture img{
	right: 0;
	bottom: 0;
	width: 60%;
}
.buttons{
	margin: auto;
	padding: 2%;
	position: absolute;
	bottom: 1%;
	width: 100%;
}
.buttons span{
	margin-right: 0.3%;
    box-shadow: 3px 5px 10px 10px;
}
.game{
	text-align: center;
}
.good{
	padding: 0 5%;
	position: absolute;
	top: 15%;
	left: 15%;
	font-size: 360%;
}
.errors{
	position: absolute;
	left: 2%;
	top: 15%;
}
.errors .bad{
	margin-bottom: 2%;
	display: block;
}
.lost{
	position: absolute;
	bottom: 30%;
	left: 16%;
}
.lost h1{
	font-size: 500%;
	color: red;
}
hr{
	border-color: transparent;
}
.inputWord{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
    width: 58%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    box-shadow: 3px 5px 10px 10px;
    padding: 1.5%;
}
.form-control, .inputWord button{
	height: 30%;
	width: 60%;
	display: inline-block;
	position: relative;
	margin-top: 7%;
}
.inputWord button{
	width: 30%;
}